body {
  background-color: #d4af37;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 35px;
  width: 95%;
}

.container {
  width: 490px;
  height: 350px;
  background-color: darkcyan;
  border-radius: 6px;
  color: aliceblue;
  padding: 15px;
}

.currency-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#currency-first,
#currency-second {
  width: 65px;
  height: 40px;
  border: none;
  color: black;
}

#worth-first,
#worth-second {
  width: 350px;
  background: transparent;
  color: rgb(248, 249, 250);
  border: 0;
  text-align: right;
  font-size: 23px;
}

p {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-weight: 500px;
}

select:focus,input:focus {
  outline: 0;
}
