@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://i0.wp.com/picjumbo.com/wp-content/uploads/green-natural-background-with-wooden-surface-free-image.jpeg?w=2210&quality=70)
    no-repeat center center/cover;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo-app {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

.todo-app h1 {
  font-size: 2rem;
}

.stat-container {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.details {
  width: 100%;
}

.details h3 {
  color: white;
}

#progressbar {
  width: 100%;
  height: 7px;
  background: hsl(128, 86%, 43%);
  border-radius: 20px;
  position: relative;
  margin-top: 15px;
}

#progress {
  width: 0%;
  height: 100%;
  background: hsl(177, 85%, 52%);
  border-radius: 20px;
  transition: width 0.3s ease;
}

#numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, hsl(177, 85%, 52%), hsl(128, 86%, 43%));
  border: 2px solid rgba(255, 194, 209, 0.18);
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.5rem;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-area input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background-color: rgba(255, 194, 209, 0.3);
  color: white;
}

.input-area input::placeholder {
  color: #dbdbdb;
}

.input-area button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  color: white;
  font-size: 1.1rem;
  background-color: rgba(255, 194, 209, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-area button:hover {
  transform: scale(1.1);
  background: #678341e3;
}

.todos-container {
  position: relative;
  width: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-list {
  width: 100%;
  z-index: 2;
  position: relative;
  margin: 0 20px;
  bottom: 25px;
  color: aliceblue;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.empty-image {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  opacity: 0.9;
  z-index: 1;
  pointer-events: none;
  height: 100%;
  width: 90%;
}

#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 194, 209, 0.3);
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  position: relative;
  transition: box-shadow 0.2s ease;
  backdrop-filter: blur(5px);
  width: 100%;
}

#task-list li.completed span {
  text-decoration: 2px line-through #121212;
  color: black;
}

#task-list li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  appearance: none;
}

#task-list li .checkbox:checked {
  background: #47bc9b;
  transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
  content: '\2713';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#task-list li span {
  flex: 1;
  margin-left: 10px;
  word-wrap: break-word;
}

.task-buttons {
  display: flex;
  gap: 7px;
  padding-left: 10px;
  margin-right: auto;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  font-size: 1rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn:hover,
.delete-btn:hover {
  transform: scale(1.2);
}

.edit-btn {
  background-color: rgb(183, 183, 93);
}

.delete-btn {
  background: hsl(0, 56%, 49%);
}

@media (max-width: 600px) {
  .container {
    margin: 0px 20px;
    padding: 0 10px;
  }

  .todo-app {
    padding: 1.2rem;
  }

  #numbers {
    width: 60px;
    font-size: 1rem;
    height: 60px;
  }
  .input-area input {
    font-size: 1rem;
  }

  #task-list li {
    font-size: 1rem;
  }
}
