body {
  margin: 0;
  background: linear-gradient(to right, lightblue, rgb(186, 186, 87));
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  width: 450px;
  margin: 5px;
}

.btn {
  background-color: hsl(120, 72%, 36%);
  color: aliceblue;
  padding: 10px 30px;
  font-size: 16px;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.anime-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid hsl(120, 72%, 36%);
}

.anime-name {
  margin: 20px;
  background-color: hsl(120, 72%, 36%);
  padding: 10px;
  color: aliceblue;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.anime-container {
  display: none;
}
