body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  color: aliceblue;
  letter-spacing: 0.26em;
  font-size: 4rem;
  
}
header {
  position: relative; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  gap: 80px;
}

.bv {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

.preloader {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s linear;
}
